<form>
  <div ng-repeat="device in devices.data">
    <h4>{{device.name}}:&nbsp;{{device.actualState}}
    </h4>

    <div class="btn-group">
      <label class="btn btn-primary"
             ng-model="device.desiredState"
             ng-repeat="state in device.validStates"
             btn-radio="'{{state}}'"
             ng-value="state"
             ng-disabled="device.actualState == state"
             ng-click="processForm(device.id, state)">
        {{state}}
      </label>
      <label ng-hide="device.desiredState == device.actualState">In Progress...</label>
    </div>
  </div>
</form>
