<!DOCTYPE HTML>
<html lang="en" ng-app="gAutoArd" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="gAutoArd landing site">

    <title>Open House Automation</title>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angularbootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- gAutoArd core CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <ng-include src="'/navbar.html'"></ng-include>

  <div class="container-fluid" style="margin-top: 52px;">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="nav-header"><a href="/index.html">Overview</a></li>
          <li class="divider"></li>
          <li class="nav-header"><a href="/status.html">Status</a></li>
          <li class="divider"></li>
          <li class="nav-header">Control</li>
          <li class="divider"></li>
          <li class="nav-header"><a href="/scenes.html">Scenes</a></li>
          <li class="divider"></li>
          <li class="nav-header"><a href="/charts.html">Charts</a></li>
          <li class="divider"></li>
          <li class="nav-header"><a href="/manage.html">Manage</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="DeviceController as devices">
        <section class="tab">
          <ul class="nav nav-pills">
            <li role="presentation" 
                class="{ active: devices.isSet(devicetype.link) }"
                ng-class="{ active: devices.isSet(devicetype.link) }"
                ng-repeat="devicetype in devices.list"
                ng-show="devicetype.display">
              <a href ng-click="devices.setTab(devicetype.link)">{{devicetype.name}}</a>
            </li>
          </ul>
        </section>
        <hr>
        <div ng-include="devices.getLink()">
          <section>
            {{ devicetype.link}} and {{ devicetype.ordinal}}
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
