<form>
  <div ng-repeat="device in devices.data">
    <h4>{{device.name}}:&nbsp;{{device.actualState}}
    </h4>
    <div class="btn-group">
      <label class="btn btn-primary"
             ng-model="device.desiredState"
             ng-repeat="state in device.validStates"
             btn-radio="'{{state}}'"
             ng-value="state"
             ng-disabled="device.actualState == state"
             ng-click="processForm(device.id, state)">
        {{state}}
      </label>
    </div>
    <img ng-show="device.expired" src="/images/ic_cloud_off_black_24dp.png" />
    <img ng-show="device.desiredState != device.actualState" 
         src="/images/ic_cloud_upload_grey600_24dp.png"/>
  </div>
</form>
<alert type="none" class="alert-danger" ng-show="device.expired">Controller offline</alert>