<form ng-controller="LightController as lights">

  <div ng-repeat="light in lights.data">
    <h4>{{light.name}}
      <button ng-show="light.actualState == 0" ng-disabled="light.desiredState != light.actualState">
        <img ng-src="/images/light_off.png"
             ng-model="light.desiredState"
             ng-click="processForm(light.id, 1)"
             />
      </button>
      <button ng-show="light.actualState == 1" ng-disabled="light.desiredState != light.actualState">
        <img ng-src="/images/light_on.png"
             ng-model="light.desiredState"
             ng-click="processForm(light.id, 0)"
             />
      </button>
      <label ng-hide="light.desiredState == light.actualState">
        Working...
      </label>
    </h4>
  </div>
  <div class="btn-group">
    <h4>
      <button ng-click="processForm(100, 1)">All 
        <img ng-src="/images/light_on.png"/>
      </button>
      <button ng-click="processForm(100, 0)">All
        <img ng-src="/images/light_off.png"/>
      </button>
    </h4>
  </div>
</form>
